<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../../../../css/style.css" th:href="@{../../css/style.css}" />
    <title>Edit Film</title>
</head>

<body>
<header>
    <h1>Java Mastery - 2021</h1>
</header>
<nav>
    <a th:href="@{/}">Main</a>
    <a th:href="@{/films/all}">All Films</a>
    <a th:href="@{/directors/all}">All Directors</a>
</nav>
<div class="content">
    <h3>Edit Film</h3>
    <form th:method="PATCH" th:action="@{/films/{id}(id=${film.id})}" th:object="${film}">
        <label for="name">Enter Film Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="releaseDate">Enter Release Date: </label>
        <input type="date" th:field="*{releaseDate}" id="releaseDate"/>
        <br>
        <label for="genre">Enter Genre: </label>
        <input type="text" th:field="*{genre}" id="genre"/>
        <br>
        <input type="submit" value="Update"/>
    </form>
</div>
<div style="height: 200px;"></div>
<footer>
    <h3>Created by Valiantsin Vialichka</h3>
    <a href="https://www.linkedin.com/in/valiantsin-vialichka-671b51166/">LinkedIn</a>
</footer>
</body>

</html>